body {background-image: url(library.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 45px;
}
.regform{
    width: 800px;
    margin: auto;
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    font-size: 40px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 0px;
}
.main{
    background-color: black;
    opacity: 0.7;
    color: white;
    width: 500px;
    margin-top: 0px;
    margin: auto;
    height: 400px;
    font-size: 30px;
}
.nice{
    font-size: 40px;
    color: teal;
    text-align: center;
}